<nav class="navbar"> 
        <ul class="menu">
            <li>
                <a href="/Home"> HOME </a>
            </li>
            <li >
                <a href="/MeuPerfil"> MEU PERFIL </a>
            </li>
            <li>
                <a href="/Filmes">FILMES</a>
            </li>
            <li>
                <a href="/Generos">GENEROS</a>
            </li>
            <li>
                <a href="/Diretores">DIRETORES</a>
            </li>                

            <form class="d-flex" role="search">
                <input class="form-control me-2" type="search" placeholder="Pesquisar..." aria-label="Search">
                <button class="btn btn-outline-success" type="submit">Pesquisar </button>
            </form>

        </ul>
</nav>