<main>
    <div>
        <h1>Cadastrar Diretor</h1>
        <div>
            <form action="/routeDirector/director/new" method="POST">
                <div>
                    <label>Name:</label>
                    <input type="text" placeholder="Name" name="directorName" id="directorName" />
                </div>
                <br>
                <button type="submit">Registrar</button>
            </form>
        </div>
    </div>
</main>
