<main>
    <div class="container_cadastro">
        <h2>Cadastre-se</h2>
        <br>
            <form action="/routeUser/user/new" method="POST">

                    <input type="text" placeholder="Nome" name="userName" id="userName" />
                    <br>
                    <input type="email" placeholder="Email" name="userEmail" id="userEmail" />

                <br>

                    <input type="password" placeholder="Senha" name="userPassword" id="userPassword" />

                <br>
                <button type="submit">Registrar</button>
                <h5> <a href=""> Já possui conta? Faça login </a> </h5>
            </form>
    </div>
</main>
